:root {
    --main-color: #0554F2;
    --bk1: #0F1E26;
    --bk2: #0D0D0D;
    --padding: 1.5rem;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    outline: 0 none;
    vertical-align: middle;
}

ul, ol, li {
    list-style: none;
    box-sizing: border-box;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0 none;
    vertical-align: top;
}

textarea {
    resize: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

label {
    font-size: 0.875rem;
    color: #454A4D;
}
.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input {
    color : #0D0D0D;
    border-radius: 0.5rem;
    border: 1px solid #D4D7D9;
    padding: 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

select {
    color : #6F7980;
    border: 0;
    padding: 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}


input:disabled{
    background-color: #F9F9F9;
    border: 0;
}

input::placeholder {
    color: rgba(15, 30, 38, 0.30);
}

body {
    font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
    color: #000
}

header {
    padding: 1rem;
    height: 4.5rem;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
}


.header-menu {
    display: block;
    width: 24px; height: 24px;
    background: url('../../images/front/header-menu.svg');
}

.header-search {
    display: block;
    width: 24px; height: 24px;
    background: url('../../images/front/search.svg');
}

.header-close {
    display: block;
    width: 24px; height: 24px;
    background: url('../../images/front/close.svg');
}

.header-left {
    display: block;
    width: 24px; height: 24px;
    background: url('../../images/front/left-arrow.svg');
}

header .left {
    width: 2.5rem;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
}

header .logo {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

header .right {
    width: 2.5rem;
    display: flex;
    justify-content: center;
}

header .close {
    width: 2.5rem; height: 2.5rem;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

header .logo h1 {
    color: var(--bk1);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {

    flex: auto;
}

section {
    background-color: #F9F9F9;
}

section h2 {
    padding: 0.625rem 1.5rem;
    background-color: #fff;
    justify-content: center;
    text-align: left;
    font-size: 1.0625rem;
    font-weight: 500;
}
main {
    display: flex;
}
.my-work {
    display: flex;
    flex-direction: column;
    flex: auto;
}
.my-work div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #0D0D0D;
    justify-content: space-between;
    align-items: flex-end;
}
.my-work div ul {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.625rem;
}
.my-work ul li a{
    display: flex;
    flex-direction: column;
    padding: 1.25rem 0.625rem;
    align-items: flex-start;
    gap: 0.5rem;
    background-color: #fff;
    border-radius: 0.875rem;
    color: var(--bk2);
}
.my-work ul li p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-work ul li .title {
    font-size: 1.1875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.my-work ul li .desc {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.my-work span {
    display: block;
    padding-top: 1rem;
}

.my-work span a {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    text-decoration-line: underline;
    color: #6F7980;
}

.top-menu {
    position: absolute;
    top: 0.81rem;
    right: 0.87rem;
    border-radius: 1.6875rem;
    background-color: #fff;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.12);
}
.top-menu ul {
    display: inline-flex;
    padding: 1.13rem 1.56rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.top-menu ul li {
    font-size: 0.94rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

footer {
    display: flex;
    height: 9rem;
    padding: 0 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
}

footer p {
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.login {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5.8rem var(--padding) 0;
    gap: 1.5rem;
}

.btn.default {
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--main-color);
    color: #fff;
}

.list {
    background-color: #fff;
    flex: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.list ul {
    display: flex;
    background-color: #D4D7D9;
    flex-direction: column;
    gap: 0.0625rem;
}
.list ul li a {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding: 1.25rem var(--padding);
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

.list .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: #0D0D0D;
}

.list .wrap.desc {
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
}

.list ul li p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.list .title {
    font-size: 1.18rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.list .desc {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.list .desc span{
    margin-left: 0.5rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #454A4D;
}


.btn.status {
    margin-left: 0.5rem;
    border-radius: 1.25rem;
    white-space: nowrap;
    display: flex;
    width: 4.375rem;
    height: 1.3125rem;
    padding: 0.1875rem 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 0.9375rem;
    color: #fff;
}

.btn.status.step1 {
    background: rgba(5, 84, 242, 0.30);
}

.btn.status.step2 {
    background: rgba(5, 84, 242, 0.50);
}

.btn.status.step3 {
    background: rgba(5, 84, 242, 0.70);
}

.btn.status.step4 {
    background: rgba(5, 84, 242, 0.90);
}

.btn.status.step5 {
    background: rgba(5, 84, 242, 1);
}

.btn.status.working {
    background: #3D90D9;
}

.btn.status.done {
    background: var(--main-color);
}

.bottom-tab ul{
    display: flex;
    padding: 0.3125rem 1.5rem;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 0.0625rem solid #F9F9F9;
}

.bottom-tab li a p {
    display: flex;
    padding: 0.31rem 0.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
}

.bottom-tab li {
    color: #6F7980;
}

.bottom-tab li.active {
    color: #000;
}

.i-home::before{
    content: '';
    width: 25px; height: 24px;
    background: url('../../images/front/tab-icon.png') -55px -10px;
    display: block;
}

.active .i-home::before{
    background: url('../../images/front/tab-icon.png') -55px -54px;
 }

.i-work::before{
    content: '';
    width: 25px; height: 24px;
    background: url('../../images/front/tab-icon.png') -10px -10px;
    display: block;
}

.active .i-work::before {
    background: url('../../images/front/tab-icon.png') -100px -10px;
}

.i-my::before{
    content: '';
    width: 25px; height: 24px;
    background: url('../../images/front/tab-icon.png') -10px -54px;
    display: block;
}

.active .i-my::before{
    background: url('../../images/front/tab-icon.png') -100px -54px;
}

.contents {
    background-color: #EAECF0;
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow-y: auto;
}

.contents.detail {
    gap: 0.625rem;
}

.detail-info {
    padding: 1rem var(--padding) 0;
    background-color: #fff;
    flex: 0;
    gap: 0.3125rem;
}

.detail-info ul {
    padding-bottom: 1rem;
    gap:0.3125rem;
}

.detail-info ul li .wrap {
    display: flex;
    line-height: 150%;
    color: #454A4D;
    padding: 0.625rem 0;
}

.detail-info ul li .wrap .title {
    flex-shrink: 0;
}

.detail-info ul li .wrap .title span{
    padding: 0 0.25rem;
}

.detail-info ul li .wrap p {
    display: flex;
}

section.detail-info h2 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 150%; /* 1.6875rem */
    padding: 0;
}

.detail-info.last{
    flex: auto;
}

.detail-info .work-flow {
    display: flex;
    font-size: 0.8125rem;
    line-height: 150%;
    padding: 0.625rem 0;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 0;
}

.detail-info .work-flow li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: auto;
    color: #454A4D;
}

.detail-info .work-flow li p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.8125rem;
    line-height: 150%;
    color: #D4D7D9;
}

.detail-info .work-flow li.active p {
    color: var(--main-color);
}

.detail-info .work-flow li:not(:last-child)::after {
    content: '';
    width: 5px; height: 8px;
    background: url('../../images/front/work-flow.png') -10px -110px;
}

.detail-info .work-flow li.active:not(:last-child)::after {
    background: url('../../images/front/work-flow.png') -35px -110px;
}

.detail-info .work-flow li.step1 p::before,
.detail-info .work-flow li.step5 p::before{
    content: '';
    width: 30px; height: 30px;
    background: url('../../images/front/work-flow.png') -112px -10px;
}

.detail-info .work-flow li.active.step1 p::before,
.detail-info .work-flow li.active.step5 p::before{
    content: '';
    width: 30px; height: 30px;
    background: url('../../images/front/work-flow.png') -60px -60px;
}

.detail-info .work-flow li.step2 p::before,
.detail-info .work-flow li.step4 p::before{
    content: '';
    width: 31px; height: 30px;
    background: url('../../images/front/work-flow.png') -61px -10px;
}

.detail-info .work-flow li.active.step2 p::before,
.detail-info .work-flow li.active.step4 p::before{
    content: '';
    width: 31px; height: 30px;
    background: url('../../images/front/work-flow.png') -112px -60px;
}

.detail-info .work-flow li.step3 p::before {
    content: '';
    width: 31px; height: 30px;
    background: url('../../images/front/work-flow.png') -10px -10px;
}

.detail-info .work-flow li.active.step3 p::before {
    content: '';
    width: 31px; height: 30px;
    background: url('../../images/front/work-flow.png') -10px -60px;
}


.detail-info .work-flow li.active.step p::before {
    content: '';
    width: 31px; height: 30px;
    background: url('../../images/front/work-flow.png') -10px -60px;
}

.detail-info .work-status li .wrap{
    display: flex;
    height: 3.75rem;
    padding: 0.625rem 0;
    align-items: center;
    gap: 0.625rem;
    position: relative;
}

.detail-info .work-status li .wrap-btn {
    flex: auto;
    display: flex;
    justify-content: flex-end;
}

.detail-info .work-status li .wrap-btn.none {
    padding-right: 24px;
}

.sm-more {
    display: block;
    width: 24px; height: 24px;
    background: url('../../images/front/sm-more.svg');
}

.detail-info .wrap .work-menu {
    position: absolute;
    top: auto;
    right: 0;
    display: flex;
    align-items: center;
}


.hidden {
   display: none !important;
}


.detail-info .wrap .work-menu button {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    padding: 0.625rem 1.5625rem;
    border-radius: 0.9375rem;
    background: #fff;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.19);
}

.my-info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem var(--padding);
    gap: 0.625rem;
    color: #454A4D;
}

.my-info > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem
}

.my-info ul {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.empty {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 1rem;
    align-items: center; !important;
    justify-content: center; !important;
    background-color: #F9F9F9;
}
.empty::before {
    content: url("../../images/front/alert-circle.svg");
}

aside {
    position: fixed;
    bottom: 8.25rem;
    right: 1.5rem;
}
.i-top {
    content: url("../../images/front/top.svg");
}

.full-modal {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.search {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    gap: 0.0625rem;
    padding: 0.0625rem 0;
}

.search .input-wrap {
    padding: 0 var(--padding);
    background-color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search label {
    color: #6F7980;
}

.search input {
    border: 0;
    flex: auto;
    padding: 0.94rem 1rem;
}

.i-calendar {
    content: url("../../images/front/calendar.svg");
}
